@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@-webkit-keyframes load {
  0% {
        stroke-dashoffset: 0; 
    } 
}
@keyframes load {
  0% {
        stroke-dashoffset: 0;
    }
}

@font-face {
    font-family: consolab;
    src: url(fonts/consolab.ttf);
}

@font-face {
    font-family: calibri;
    src: url(fonts/Calibri.ttf);
}
    
@font-face {
    font-family: consola;
    src: url(fonts/consola.ttf);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 160px 0 100px 0;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #000;
}

.github, .telegram, .facebook, .instagram, .mail {
    font-family: calibri;
    font-size: 13px;
    color: #d4d4d4;
    text-decoration: none;
    padding: 3px;
}

.github:hover, .telegram:hover, .facebook:hover, .instagram:hover, .mail:hover {
    color: #000000;
    background-color: #ebebeb;
}

.sidebar2 {
    position: fixed;
    top: 0;
    padding-left: 20px;
    left: 100px;
    width: 230px;
    height: 100%;
    border-style: hidden solid hidden hidden;
    border-right: 1px solid #c9c9c9
}

.name {
    font-family: consolab;
    font-size: 13px;
    color: #111111;
    position: fixed;
    top: 180px;
    width: 180px;
    height: 20px;
    border-style: hidden hidden solid hidden;
    border-bottom: 1px solid #c9c9c9
}

.bio {
    position: fixed;
    font-family: consola;
    font-size: 12px;
    color: #505050;
    top: 210px;
    margin-left: 4px;
}


.mySkills {
    position: absolute;
    margin: 60px 0 0 0;
    left: 460px;
    width: 780px;
    border-bottom: 1px solid #c9c9c9;
}

.skills {
  position: relative;
  display: inline-block;
  text-align: center;
}

.skills > .skill {
    display: inline-block;
    position: relative;
    color: #3d3d3d;
    font-family: calibri;
    margin-right: 70px;
}

.skills > .skill:before {
    content: attr(data-name);
    position: absolute;
    width: 100%;
    bottom: -2rem;
    font-weight: 400; 
}
      
.skills > .skill:after {
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    top: 32px;
    left: 0;
    font-size: 25px;
    text-align: center;
}

.skills svg:not(.grad) {
    width: 6rem;
    height: 6rem; 
}

.skills svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.skills svg:nth-child(2) path {
    fill: none;
    stroke-width: 25;
    stroke-dasharray: 629;
    stroke: #fff;
    opacity: .9;
    -webkit-animation: load 4s;
    animation: load 4s;
}


.myProjects {
    position: absolute;
    padding-bottom: 70px;
    width: 780px;
    margin-bottom: 50px;
    border-bottom: 1px solid #c9c9c9;
}


.skillsTitle {
    margin: 0 0 75px 341px;
    font-family: consolab;
    font-size: 20px;
}

.projectsTitle {
    margin: 60px 0 40px 328px;
    font-family: consolab;
    font-size: 20px;
}

.skills {
    margin-left: 90px;
    margin-bottom: 80px;
}

.thtml, .tcss, .tjs, .treact {
    font-size: 13px;
    font-family: consolab;
    color: black;
    margin-left: 3px;
}

.tetris, .todolist {
    font-family: consola;
    color: #1d1d1d;
    text-decoration: none;
    font-size: 12px;
}

.tetris {
    margin: 0 0 10px 368px;
}

.todolist {
    margin: 0 0 10px 356px;
}

.tetris:hover {
    color: black;
    font-family: consolab;
}

.todolist:hover {
    color: black;
    font-family: consolab;
    text-decoration: line-through;
}

