body {
    background-color: #646464
}

#goDiv {
    margin: 200px 0 0 190px;
    width: 210px;
    height: 160px;
    line-height: 70px;
    border-radius: 4px;
    background-color: #dc143c;
    text-align: center;
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    position: absolute;
}

#go {
    margin: 5px 0 0 29px;
    width: 150px;
    height: 70px;
    line-height: 70px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #e4e4ee;
    text-align: center;
    font-size: 37px;
    font-family: "Lucida Console", Monaco, monospace;
    position: absolute;
    cursor: pointer;
}

#go:hover {
    font-size: 43px;
}

#gameOver {
    margin: 200px 0 0 190px;
    width: 210px;
    height: 160px;
    line-height: 70px;
    border-radius: 4px;
    background-color: #dc143c;
    text-align: center;
    font-size: 25px;
    font-family: "Lucida Console", Monaco, monospace;
    position: absolute;
    display: none;
}

#newGame2 {
    margin: 5px 0 0 39px;
    width: 130px;
    height: 60px;
    line-height: 59px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #e4e4ee;
    text-align: center;
    font-size: 21px;
    font-family: "Lucida Console", Monaco, monospace;
    position: absolute;
    cursor: pointer;
}

#newGame2:hover {
    font-size: 24px;
    font-weight: bold;
}

.squareItem {
    margin: 1px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background-color: #303030;
    float: left;
    border: 1px solid #3b3b3b;
}

.squareItemNext {
    margin: 1px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background-color: #9999996b;
    float: right;
    border: 1px solid #0000002f;
}

#pause {
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #e4e4e4;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 22px;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 30px;
}

#pause:hover {
    font-size: 25px;
    font-weight: bold;
}

#newGame {
    width: 100px;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: #e4e4e4;
    border-radius: 5px;
    display: block;
    font-size: 22px;
    font-family: "Lucida Console", Monaco, monospace;
}

#newGame:hover {
    font-size: 25px;
    font-weight: bold;
}

#frame {
    border-radius: 3px;
    margin: auto;
    width: 594px;
    height: 594px;
    padding: 7px;
    border: 2px solid #444444;
    background-color: #555555
}

#tools {
    position: absolute;
    margin-left: 450px;
    padding: 20px;
}

#nextContainer {
    width: 88px;
    margin: 37px 0 0 7px;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

#mainContainer {
    width: 440px ;
    background-color: black
}

.currentBlock {
    background-color: #dc143c;
}

.fixed {
    background-color: #38849b;
}


#levSel {
    width: 90px;
    height: 30px;
    background-color: #303030;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    padding: 3px;
    margin-left: 60px;
    display: block;
}

#chooseLevel {
    margin-top: 18px;
    text-align: center;
    font-size: 17px;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 35px;
}

#levDiv {
    margin-top: 120px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

#level {
    margin-top: 3px;
    width: 100px;
    height: 35px;
    background-color: #303030;
    color: white;
    text-align: right;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 22px;
    padding: 3px;
    line-height: 38px;
}

#pointsDiv {
    margin-top: 38px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

#points {
    margin-top: 3px;
    width: 100px;
    height: 35px;
    background-color: #303030;
    color: white;
    text-align: right;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 22px;
    padding: 3px;
    line-height: 38px;
}

#bestDiv {
    margin-top: 38px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

#best {
    margin-top: 3px;
    width: 100px;
    height: 35px;
    background-color: #303030;
    color: white;
    text-align: right;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 22px;
    padding: 3px;
    line-height: 38px;
}

.shadow {
    background-color: #9e9e9e7a
}